<div class="container">
    <div class="grid">
        <div class="cadastro">
            <div class="flex center-content"><img src="../../assets/user-edit-solid.svg" class="svg"/></div>
            <div class="flex center-content">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Favorite food" value="Sushi">
                    </mat-form-field>
                  
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Leave a comment"></textarea>
                    </mat-form-field>
                  </form>
            </div>
        </div>
        <div class="criptografado">
            <img src="../../assets/lock-solid.svg" class="svg"/>
        </div>
        <div class="normal">
            <img src="../../assets/lock-open-solid.svg" class="svg"/>
        </div>
    </div>  
</div>