.container {
    width: 100vw;
    height: 100vh;
    .grid {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "cadastro criptografado"
                            "cadastro normal";
        
        .svg {
            width: 45px;
            height: 45px;
        }

        .logo-container {
            height: 36vh;
        }

        .cadastro {
            padding: 1%;
            grid-area: cadastro;
            border: 2px solid #ccc;
            border-radius: 16px;
            margin: 5px;
            background-image: url('../../assets/background-verde.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .criptografado {
            padding: 1%;
            grid-area: criptografado;
            border: 2px solid #ccc;
            border-radius: 16px;
            margin: 5px;
            background-image: url('../../assets/background-azul.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .normal {
            padding: 1%;
            grid-area: normal;
            border: 2px solid #ccc;
            border-radius: 16px;
            margin: 5px;
            background-image: url('../../assets/background-vermelho.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .flex {
            display: flex;
        }
        .center-content {
            justify-content: center;
        }
        .logo {
            align-self: center;
            height: auto;
            max-width: 10vw;
            cursor: pointer;
        }
        .input {
            height: 20px;
            border-radius: 4px;
            border: 1px solid #CFDCEB;
            padding: 5px 40px;
            font-family: Avenir;
            font-size: 14px;
            width: 100%;
            margin-right: 10%;
        }
        .padding-left-8px {
            padding-left: 8px;
        } 
        .padding-top-7 {
            padding-top: 7vh;
        }
        .padding-top-3 {
            padding-top: 3vh;
        }
        .label {
            align-self: center;
            font-weight: 500;
            padding-right: 8px;
            padding-left: 10%;
        }
    }
}